*{
    margin: 0;
}

body {
  background-color: #9dd5fa;
}

header {
  background-color: #1a5276;
  padding: 2em;
}

nav {
  margin-top: 1%;
  margin-left: 45%;
}

button {
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
}

#logo {
  float: left; 
  width: 5em; 
  border-radius: 50px; 
  margin-left: 3px;
}
/* header */

/* main */
h1 {
  margin-top: 10%;
  text-align: center;
}
/* .containerp {
  background-image: url("./IMG/sea.png");
  padding: 20px 30px;
  font-size: 30px;
  color: white;
  align-items: start;
} */
.lista {
  height: 30px;
  width: 30px;
}
ul {
  font-size: 30px;
}
p {
  text-align: center;
  font-size: 30px;
}
/* main */

/* footer */
footer {
  background-color: #1a5276;
  text-align: center;
}
/* footer */
