* {
  margin: 0;
}

body {
  background-color: #9dd5fa;
}

header {
  border: 2px solid;
  background-color: #1a5276;
}

nav {
  margin-top: 1%;
  margin-left: 45%;
}

.container {
  padding: 2em;
  margin-bottom: 6%;
}

button {
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
}

.imgleft {
  float: left;
  margin-right: 1%;
  width: 300px;
}

.imgright {
  float: right;
  margin-right: 1%;
  width: 300px;
}

.txtRight {
  float: right;
}

p {
  margin-top: 1%;
  font-size: 30px;
}

h2 {
  margin-bottom: 1%;
}

#h2right1 {
  margin-left: 86%;
  margin-bottom: 1%;
}

#h2right2 {
  margin-left: 83%;
  margin-bottom: 1%;
}
form{
  margin-top: 10%;
  margin-bottom: 5%;
  margin-left: 22%;
  max-width: 50%;
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #1a5276;
  border-radius:50px;
}

.itens, textarea{
  margin-right: 3%;
  padding: 1em;
  color: white;
  font-weight: 800;
}

input {
  border-radius: 5px ;
  width: 100%;
  padding: 6px;
}
#labelTxt{
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  margin-left: 5%;
  color: white;
}

#item-1{
  padding-left: 60px;
}





/*
.teste {
  display: flex;
  justify-content: baseline;  /* Centraliza horizontalmente*/
/* align-items: last-baseline;   Centraliza verticalmente  */
/* height: 100vh;        Altura total da viewport */