*{
    margin: 0;
}

body {
  background-color: #9dd5fa;
}

header {
  background-color: #1a5276;
  padding: 2em;
}

nav {
  margin-top: 1%;
  margin-left: 45%;
}

button {
  /* background-color: #9dd5fa;
  width: 10%;
  height: 50%;
  font-size: 30px;
  border-radius: 5px;
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  align-items: center; */
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
}

/* #logo {
   width: 12%;
  height: 10%;
  display: flex;
  flex-direction: row;
  padding: 1%;
} */
/* header */

/* main */
h1 {
  text-align: center;
}
.containerp {
  background-image: url("./IMG/sea.png");
  padding: 20px 30px;
  font-size: 30px;
  color: white;
  align-items: start;
}
.lista {
  height: 30px;
  width: 30px;
}
ul {
  font-size: 30px;
}
p {
  text-align: center;
  font-size: 30px;
}
/* main */

/* footer */
footer {
  background-color: #1a5276;
  text-align: center;
}
/* footer */
